.button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3.5rem;
    padding: 0 4rem;

    background-color: var(--color-secondary);
    color: var(--color-white);

    border: none;
    outline: none;

    font-size: 1.2rem;
    font-weight: 700;

    letter-spacing: 1px;

    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover{
        background-color: var(--color-secondary-light3);
    }

    @media (max-width: 1024px){
        padding: 0 1rem;
        width: 100%;
    }
}