/* light - opacity[80, 60, 40, 20] */
:root{
  --color-white: rgb(255, 255, 255);
  --color-primary: rgb(2, 47, 50);
  --color-secondary: rgb(231, 59, 43);
  --color-whatsapp: rgb(37, 211, 102);

  --color-primary-light1: rgba(2, 47, 50, 0.8);
  --color-secondary-light1: rgba(231, 59, 43, 0.8);

  --color-primary-light2: rgba(2, 47, 50, 0.6);
  --color-secondary-light2: rgba(231, 59, 43, 0.6);

  --color-primary-light3: rgba(2, 47, 50, 0.4);
  --color-secondary-light3: rgba(231, 59, 43, 0.4);

  --color-primary-light4: rgba(2, 47, 50, 0.2);
  --color-secondary-light4: rgba(231, 59, 43, 0.2);

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Bebas Neue', cursive;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: normal;

  overflow: hidden;
}

html{
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: .5rem;
    background: var(--color-primary-light4);
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-secondary-light2);
    border-radius: 10px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-size: inherit;
  font-weight: bold;
}