.main{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;

    display: flex;
    flex-direction: column;

    gap: 2rem;

    overflow-y: scroll;

    background-color: var(--color-primary);

    .title{
        font-size: 2.5rem;
        font-weight: 700;

        line-height: 130%;

        color: var(--color-white);

        strong{
            background-color: var(--color-secondary);
            padding: 0 1rem;
        }
    }

    .initialSection{
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 2rem;

        padding: 1rem;

        .logo{
            width: 6rem;
            height: 6rem;

            background-color: var(--color-white);
        }

        .subTitle{
            font-size: 1.8rem;
            font-weight: 700;

            line-height: 120%;
            color: var(--color-white);
        }

        .actionArea{

            .description{
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 120%;
                color: var(--color-white);
                margin-bottom: 1rem;
            }

            .button{
                margin: 0 auto;
            }
        }
    }

    .videoSection{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        gap: 2rem;

        padding: 0 1rem;

        .video{
            position: relative;

            overflow: hidden;

            width: 800px;

            padding-top: calc(9 / 16 * 800px);
            
            .iframe{
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
            }
        }
    }

    .formSection{
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 5%;

        width: 100%;
        
        gap: 3rem;

        .description{
            width: 50%;
            font-size: 1.3rem;
            color: var(--color-white);

            strong strong {
                color: var(--color-secondary);
            }
        }
    }
}