.main{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;

    display: flex;
    flex-direction: column;

    gap: 2rem;

    overflow-y: scroll;

    background-color: var(--color-primary);

    .title{
        font-size: 2.5rem;
        font-weight: 700;

        line-height: 130%;

        color: var(--color-white);

        strong{
            background-color: var(--color-secondary);
            padding: 0 rem;
        }
    }

    .initialSection{
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .logo{
            position: relative;

            width: 400px;
            height: 180px;
        }

        .subTitle{
            font-size: 1.8rem;
            font-weight: 700;

            line-height: 120%;
            color: var(--color-white);
            margin: 2rem 0;
        }

        .description{
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 120%;
            color: var(--color-white);
            margin-bottom: 1rem;
        }
    }

    .videoSection{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        gap: 2rem;

        padding: 1rem 0;

        .video{
            position: relative;

            overflow: hidden;

            width: 800px;

            padding-top: calc(9 / 16 * 800px);
            
            .iframe{
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
            }
        }
    }

    .formSection{
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1rem 10%;

        width: 100%;
        
        gap: 3rem;

        .description{
            width: 50%;
            font-size: 1.8rem;
            color: var(--color-white);

            strong strong {
                color: var(--color-secondary);
            }
        }
    }

    .finalSection{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 1rem 10%;

        gap: 3rem;
        
        .photoArea{
            position: relative;

            width: 400px;
            height: 400px;
            max-width: 100%;

            background-color: var(--color-white);

            .photo{
                position: absolute;

                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }

        .text{
            display: flex;
            flex-direction: column;
            gap: 1.8rem;

            .paragraph{
                width: 100%;
                color: var(--color-white);
                font-size: 1.8rem;
            }
        }

        .socialMedia{
            display: flex;
            align-self: flex-start;
            align-items: center;
            justify-content: flex-start;

            gap: 1rem;

            .socialMediaLink{
                width: 42px;
                height: 42px;
                
                background-color: var(--color-white);
                
                display: flex;
                align-items: center;
                justify-content: center;

                color: var(--color-primary);

                border-radius: 50%;
            }
        }

    }

    .footer{
        width: 100%;

        padding: 3rem 1rem;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 1rem;

        .text{        
            
            color: var(--color-white);

            font-size: .8rem;
    
            text-align: center;
    
            line-height: 130%;
        }

        .logo{
            width: 50px;
            height: 50px;
            
            position: relative;

        }
    }

    @media (max-width: 1024px){

        .initialSection{
            width: 100%;

            padding: 1rem 10%;

            text-align: center;

            .subTitle{
                font-size: 1rem;
                line-height: 130%;
                white-space: initial;
                font-weight: 500;
            }

            .description{
                font-size: .8rem;
                line-height: 130%;
                white-space: initial;
                font-weight: 500;
            }
        }

        .title{
            font-size: 1.6rem;
            width: 100%;
            white-space: initial;

            strong{
                white-space: pre;
            }
        }

        .videoSection{
            width: 100%;
            padding: 1rem 10%;

            .video{
                width: 100%;
                padding-top: calc(9 / 16 * 100%);
            }
        }

        .formSection{
            flex-direction: column-reverse;

            .description{
                width: 100%;
            }
        }

        .finalSection{

            .photoArea{
                width: 100%;
            }

        }
        .footer{
            flex-direction: column-reverse;
        }
    }
}